# CRUD from Python With MySQL

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
# import urllib.parse as url_parse
from urllib.parse import quote_plus

In [ ]:
# Only 1 db and username,pw,db is same
# If different then we need parameterized constructor

#("<dialect>+<driver>://<username>:<password>@<server_url:port>/<database_name>")
class CreateMySQLEngineInstance:

    def __init__(self):
        # password = quote_plus("abdul@123")
        password = "root"
        self.engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/python_db")
    
    def get_engine(self):
        return self.engine

In [17]:
# Test connection
mysql_instance = CreateMySQLEngineInstance()

engine = mysql_instance.get_engine()
print(engine)

query = "select * from course"

# Table in form of dataframe

df = pd.read_sql(query,engine)

df

Engine(mysql+pymysql://root:***@localhost:3306/python_db)

   cid        name duration
0    1      Python  30 Days
1    2        Java  50 Days
2    3       Excel  20 Days
3    4    Power BI  35 Days
4    5  Javascript  40 Days