# CRUD from Python With MySQL

In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
# import urllib.parse as url_parse
from urllib.parse import quote_plus

In [2]:
# Only 1 db and username,pw,db is same
# If different then we need parameterized constructor

#("<dialect>+<driver>://<username>:<password>@<server_url:port>/<database_name>")
class CreateMySQLEngineInstance:

    def __init__(self):
        # password = quote_plus("abdul@123")
        password = "root"
        self.engine = create_engine(f"mysql+pymysql://root:{password}@localhost:3306/python_db")
    
    def get_engine(self):
        return self.engine

In [19]:
# Test connection
mysql_instance = CreateMySQLEngineInstance()

engine = mysql_instance.get_engine()
print(engine)

query = "select * from course"

# Table in form of dataframe

df = pd.read_sql(query,engine)

df

Engine(mysql+pymysql://root:***@localhost:3306/python_db)

   cid        name duration
0    1      Python  30 Days
1    2        Java  50 Days
2    3       Excel  20 Days
3    4    Power BI  35 Days
4    5  Javascript  40 Days

In [ ]:
# Create

In [26]:
mysql_instance = CreateMySQLEngineInstance()

engine = mysql_instance.get_engine()

# Insert -> course_name, course_duration
course_name = input("Enter course name: ")
course_duration = input("Enter course duration: ")

insert_query = text("insert into course(name, duration) values (:cname, :cdur)")

# connection = engine.connect()

# connection.close()
with engine.connect() as connection:
    result = connection.execute(insert_query,{"cname":course_name,"cdur":course_duration})
    connection.commit()
    print(f"Insert successfully, Rows affected = {result.rowcount}")

Insert successfully, Rows affected = 1

In [3]:
def show_course_table():
    mysql_instance = CreateMySQLEngineInstance()

    engine = mysql_instance.get_engine()


    query = "select * from course"

    # Table in form of dataframe

    df = pd.read_sql(query,engine)

    return df

In [4]:
show_course_table()

   cid        name duration
0    1      Python  30 Days
1    2        Java  50 Days
2    3       Excel  20 Days
3    4    Power BI  35 Days
4    5  Javascript  40 Days
5    6      Spring