<h1>Pandas Basic Methods</h1>

In [1]:
import pandas as pd

In [3]:
df_movies = pd.read_csv("./movies.csv")

df_movies.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [4]:
df_movies[["title", "industry", "studio","language"]].head()

,title,industry,studio,language
0,PK,Bollywood,UTV Motion Pictures,Hindi
1,Conjuring 2,Hollywood,Warner Bros. Pictures,English
2,Pather Panchali,Bollywood,Government of West Bengal,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,Marvel Studios,English
4,Thor: The Dark World,Hollywood,Marvel Studios,English

In [5]:
df_movies.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [7]:
df_movies.industry.unique()

array(['Bollywood', 'Hollywood'], dtype=object)

In [8]:
df_movies["studio"].unique()

array(['UTV Motion Pictures', 'Warner Bros. Pictures',
       'Government of West Bengal', 'Marvel Studios', 'MGM Studios',
       'Castle Rock Entertainment', 'Columbia Pictures',
       'Universal Pictures  ', 'Paramount Pictures', 'Liberty Films',
       '20th Century Fox', 'Syncopy', 'Universal Pictures', nan,
       'Yash Raj Films', 'Vinod Chopra Films', 'Dharma Productions',
       'Vinod Chopra Productions', 'Zee Studios', 'Salman Khan Films',
       'Hombale Films', 'Mythri Movie Makers', 'DVV Entertainment',
       'Arka Media Works'], dtype=object)

In [11]:
len(df_movies["studio"].unique())

24

In [12]:
df_movies.studio.value_counts()

studio
Marvel Studios               8
Vinod Chopra Films           3
Warner Bros. Pictures        2
Dharma Productions           2
Universal Pictures           2
Paramount Pictures           2
Salman Khan Films            2
Columbia Pictures            1
Castle Rock Entertainment    1
MGM Studios                  1
Government of West Bengal    1
UTV Motion Pictures          1
Liberty Films                1
20th Century Fox             1
Universal Pictures           1
Yash Raj Films               1
Syncopy                      1
Vinod Chopra Productions     1
Zee Studios                  1
Hombale Films                1
Mythri Movie Makers          1
DVV Entertainment            1
Arka Media Works             1
Name: count, dtype: int64

In [13]:
df_movies.shape

(40, 10)

In [14]:
df_movies[df_movies.studio == "Marvel Studios"]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English
5,Thor: Ragnarok,Hollywood,2017,7.9,Marvel Studios,180.0,854.0,Millions,USD,English
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
21,Avengers: Infinity War,Hollywood,2018,8.4,Marvel Studios,400.0,2048.0,Millions,USD,English
22,Captain America: The First Avenger,Hollywood,2011,6.9,Marvel Studios,216.7,370.6,Millions,USD,English
23,Captain America: The Winter Soldier,Hollywood,2014,7.8,Marvel Studios,177.0,714.4,Millions,USD,English

In [15]:
# find movies which are released between 2019 to 2022 

df_movies[(df_movies["release_year"] >= 2019) & (df_movies["release_year"] <= 2022)]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
6,Thor: Love and Thunder,Hollywood,2022,6.8,Marvel Studios,250.0,670.0,Millions,USD,English
19,Parasite,Hollywood,2019,8.5,NaN,15.5,263.1,Millions,USD,English
20,Avengers: Endgame,Hollywood,2019,8.4,Marvel Studios,400.0,2798.0,Millions,USD,English
32,The Kashmir Files,Bollywood,2022,8.3,Zee Studios,250.0,3409.0,Millions,INR,Hindi
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu

In [ ]:
df_movies[(df_movies["release_year"] >= 2019) & (df_movies["release_year"] <= 2022)].shape

(9, 10)

In [17]:
# Find movie which have highest imdb_rating as well as movie which have lowest imdb_rating

In [18]:
df_movies.imdb_rating.max()

np.float64(9.3)

In [19]:
df_movies.imdb_rating.min()

np.float64(1.9)

In [21]:
df_movies[(df_movies["imdb_rating"] == df_movies["imdb_rating"].max()) | (df_movies["imdb_rating"] == df_movies["imdb_rating"].min())]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
8,The Shawshank Redemption,Hollywood,1994,9.3,Castle Rock Entertainment,25.0,73.3,Millions,USD,English
34,Race 3,Bollywood,2018,1.9,Salman Khan Films,1.8,3.1,Billions,INR,Hindi

In [22]:
df_movies.describe()

       release_year  imdb_rating        budget        revenue
count     40.000000    39.000000     40.000000      40.000000
mean    2006.850000     7.912821   1951.012000    4007.407500
std       17.455511     1.161483  11038.031363   15764.441034
min     1946.000000     1.900000      1.000000       3.100000
25%     2000.750000     7.800000     13.425000     216.900000
50%     2014.000000     8.100000    165.000000     685.900000
75%     2018.000000     8.400000    285.000000    2012.000000
max     2022.000000     9.300000  70000.000000  100000.000000

In [23]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         40 non-null     object
 1   industry      40 non-null     object
 2   release_year  40 non-null     int64
 3   imdb_rating   39 non-null     float64
 4   studio        37 non-null     object
 5   budget        40 non-null     float64
 6   revenue       40 non-null     float64
 7   unit          40 non-null     object
 8   currency      40 non-null     object
 9   language      40 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 3.3+ KB

In [24]:
df_movies.columns

Index(['title', 'industry', 'release_year', 'imdb_rating', 'studio', 'budget',
       'revenue', 'unit', 'currency', 'language'],
      dtype='object')

In [26]:
df_movies.index

RangeIndex(start=0, stop=40, step=1)

In [27]:
df_movies.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [28]:
df_movies.tail()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
35,Shershaah,Bollywood,2021,8.4,Dharma Productions,500.0,950.0,Millions,INR,Hindi
36,K.G.F: Chapter 2,Bollywood,2022,8.4,Hombale Films,1.0,12.5,Billions,INR,Kannada
37,Pushpa: The Rise - Part 1,Bollywood,2021,7.6,Mythri Movie Makers,2.0,3.6,Billions,INR,Telugu
38,RRR,Bollywood,2022,8.0,DVV Entertainment,5.5,12.0,Billions,INR,Telugu
39,Baahubali: The Beginning,Bollywood,2015,8.0,Arka Media Works,1.8,6.5,Billions,INR,Telugu

In [35]:
df_movies.iloc[1]

title                     Conjuring 2
industry                    Hollywood
release_year                     2016
imdb_rating                       7.3
studio          Warner Bros. Pictures
budget                           40.0
revenue                         321.0
unit                         Millions
currency                          USD
language                      English
Name: 1, dtype: object

In [37]:
df_movies.iloc[6]

title           Thor: Love and Thunder
industry                      Hollywood
release_year                       2022
imdb_rating                         6.8
studio                   Marvel Studios
budget                            250.0
revenue                           670.0
unit                           Millions
currency                            USD
language                        English
Name: 6, dtype: object

In [38]:
df_movies.iloc[10:15]

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
10,The Pursuit of Happyness,Hollywood,2006,8.0,Columbia Pictures,55.00,307.1,Millions,USD,English
11,Gladiator,Hollywood,2000,8.5,Universal Pictures,103.00,460.5,Millions,USD,English
12,Titanic,Hollywood,1997,7.9,Paramount Pictures,200.00,2202.0,Millions,USD,English
13,It's a Wonderful Life,Hollywood,1946,8.6,Liberty Films,3.18,3.3,Millions,USD,English
14,Avatar,Hollywood,2009,7.8,20th Century Fox,237.00,2847.0,Millions,USD,English

In [41]:
df_movies.set_index("title",inplace=True)

In [42]:
df_movies.head()

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
title,,,,,,,,,
PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English

In [43]:
df_movies.iloc[3]

industry             Hollywood
release_year              2022
imdb_rating                7.0
studio          Marvel Studios
budget                   200.0
revenue                  954.8
unit                  Millions
currency                   USD
language               English
Name: Doctor Strange in the Multiverse of Madness, dtype: object

In [44]:
df_movies.loc["Conjuring 2"]

industry                    Hollywood
release_year                     2016
imdb_rating                       7.3
studio          Warner Bros. Pictures
budget                           40.0
revenue                         321.0
unit                         Millions
currency                          USD
language                      English
Name: Conjuring 2, dtype: object

In [50]:
df_movies.loc[["Conjuring 2", "PK", "Pather Panchali"]]

,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
title,,,,,,,,,
Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
PK,Bollywood,2014,8.1,Vinod Chopra Films,850.0,8540.0,Millions,INR,Hindi
Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali

In [51]:
df_movies.reset_index(inplace=True)

In [52]:
df_movies.head()

,title,industry,release_year,imdb_rating,studio,budget,revenue,unit,currency,language
0,PK,Bollywood,2014,8.1,UTV Motion Pictures,850.0,7563.0,Millions,INR,Hindi
1,Conjuring 2,Hollywood,2016,7.3,Warner Bros. Pictures,40.0,321.0,Millions,USD,English
2,Pather Panchali,Bollywood,1955,8.3,Government of West Bengal,70000.0,100000.0,Thousands,INR,Bengali
3,Doctor Strange in the Multiverse of Madness,Hollywood,2022,7.0,Marvel Studios,200.0,954.8,Millions,USD,English
4,Thor: The Dark World,Hollywood,2013,6.8,Marvel Studios,165.0,644.8,Millions,USD,English