# Reading Null Values and Handling

In [1]:
import pandas as pd

In [2]:
df_weather = pd.read_csv("./weather_info.csv")

In [3]:
df_weather

           Day  Temperature  Windspeed Condition
0   01-01-2024         33.0        8.2      Rain
1   01-02-2024          NaN        6.0       NaN
2   01-03-2024         28.0        NaN       NaN
3   01-04-2024         38.0        NaN     Sunny
4   01-05-2024          NaN        NaN     Sunny
5   01-06-2024          NaN        3.5       NaN
6   01-07-2024         25.0        9.1       NaN
7   01-08-2024          NaN        NaN       NaN
8   01-09-2024          NaN        NaN    Cloudy
9   01-10-2024          NaN        3.6    Cloudy
10  01-11-2024         21.0        2.8     Sunny
11  01-12-2024         23.0        5.5      Rain

In [4]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          12 non-null     object
 1   Temperature  6 non-null      float64
 2   Windspeed    7 non-null      float64
 3   Condition    7 non-null      object
dtypes: float64(2), object(2)
memory usage: 516.0+ bytes

In [5]:
df_weather.shape

(12, 4)

In [6]:
df_weather.Temperature.count()

np.int64(6)

In [7]:
df_weather.describe()

       Temperature  Windspeed
count     6.000000   7.000000
mean     28.000000   5.528571
std       6.449806   2.428796
min      21.000000   2.800000
25%      23.500000   3.550000
50%      26.500000   5.500000
75%      31.750000   7.100000
max      38.000000   9.100000

In [8]:
df_weather.dtypes

Day             object
Temperature    float64
Windspeed      float64
Condition       object
dtype: object

In [13]:
type(df_weather["Day"][0])

str

In [12]:
type(list(df_weather["Day"])[0])

str

In [14]:
df_weather = pd.read_csv("./weather_info.csv", parse_dates=["Day"])

df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-01-02          NaN        6.0       NaN
2  2024-01-03         28.0        NaN       NaN
3  2024-01-04         38.0        NaN     Sunny
4  2024-01-05          NaN        NaN     Sunny
5  2024-01-06          NaN        3.5       NaN
6  2024-01-07         25.0        9.1       NaN
7  2024-01-08          NaN        NaN       NaN
8  2024-01-09          NaN        NaN    Cloudy
9  2024-01-10          NaN        3.6    Cloudy
10 2024-01-11         21.0        2.8     Sunny
11 2024-01-12         23.0        5.5      Rain

In [15]:
type(df_weather["Day"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [16]:
list(df_weather["Day"])

[Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-01-02 00:00:00'),
 Timestamp('2024-01-03 00:00:00'),
 Timestamp('2024-01-04 00:00:00'),
 Timestamp('2024-01-05 00:00:00'),
 Timestamp('2024-01-06 00:00:00'),
 Timestamp('2024-01-07 00:00:00'),
 Timestamp('2024-01-08 00:00:00'),
 Timestamp('2024-01-09 00:00:00'),
 Timestamp('2024-01-10 00:00:00'),
 Timestamp('2024-01-11 00:00:00'),
 Timestamp('2024-01-12 00:00:00')]

In [ ]:
df_weather = pd.read_csv("./weather_info.csv", parse_dates=["Day"], dayfirst=True)

df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [18]:
list(df_weather["Day"])

[Timestamp('2024-01-01 00:00:00'),
 Timestamp('2024-02-01 00:00:00'),
 Timestamp('2024-03-01 00:00:00'),
 Timestamp('2024-04-01 00:00:00'),
 Timestamp('2024-05-01 00:00:00'),
 Timestamp('2024-06-01 00:00:00'),
 Timestamp('2024-07-01 00:00:00'),
 Timestamp('2024-08-01 00:00:00'),
 Timestamp('2024-09-01 00:00:00'),
 Timestamp('2024-10-01 00:00:00'),
 Timestamp('2024-11-01 00:00:00'),
 Timestamp('2024-12-01 00:00:00')]

In [19]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [21]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          12 non-null     datetime64[ns]
 1   Temperature  6 non-null      float64
 2   Windspeed    7 non-null      float64
 3   Condition    7 non-null      object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 516.0+ bytes

In [22]:
df_weather.fillna(0)

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          0.0        6.0         0
2  2024-03-01         28.0        0.0         0
3  2024-04-01         38.0        0.0     Sunny
4  2024-05-01          0.0        0.0     Sunny
5  2024-06-01          0.0        3.5         0
6  2024-07-01         25.0        9.1         0
7  2024-08-01          0.0        0.0         0
8  2024-09-01          0.0        0.0    Cloudy
9  2024-10-01          0.0        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [23]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          12 non-null     datetime64[ns]
 1   Temperature  6 non-null      float64
 2   Windspeed    7 non-null      float64
 3   Condition    7 non-null      object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 516.0+ bytes

In [24]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [25]:
df_weather.fillna(0, inplace=True)

In [26]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          0.0        6.0         0
2  2024-03-01         28.0        0.0         0
3  2024-04-01         38.0        0.0     Sunny
4  2024-05-01          0.0        0.0     Sunny
5  2024-06-01          0.0        3.5         0
6  2024-07-01         25.0        9.1         0
7  2024-08-01          0.0        0.0         0
8  2024-09-01          0.0        0.0    Cloudy
9  2024-10-01          0.0        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [27]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Day          12 non-null     datetime64[ns]
 1   Temperature  12 non-null     float64
 2   Windspeed    12 non-null     float64
 3   Condition    12 non-null     object
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 516.0+ bytes

In [28]:
df_weather = pd.read_csv("./weather_info.csv", parse_dates=["Day"], dayfirst=True)

df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [29]:
df_weather.Temperature.mean()

np.float64(28.0)

In [30]:
df_weather.Windspeed.median()

np.float64(5.5)

In [31]:
df_weather.Windspeed

0     8.2
1     6.0
2     NaN
3     NaN
4     NaN
5     3.5
6     9.1
7     NaN
8     NaN
9     3.6
10    2.8
11    5.5
Name: Windspeed, dtype: float64

In [32]:
df_weather.fillna({
    "Temperature":df_weather["Temperature"].mean(),
    "Windspeed":df_weather["Windspeed"].median(),
    "Condition":"Not Available"
})

          Day  Temperature  Windspeed      Condition
0  2024-01-01         33.0        8.2           Rain
1  2024-02-01         28.0        6.0  Not Available
2  2024-03-01         28.0        5.5  Not Available
3  2024-04-01         38.0        5.5          Sunny
4  2024-05-01         28.0        5.5          Sunny
5  2024-06-01         28.0        3.5  Not Available
6  2024-07-01         25.0        9.1  Not Available
7  2024-08-01         28.0        5.5  Not Available
8  2024-09-01         28.0        5.5         Cloudy
9  2024-10-01         28.0        3.6         Cloudy
10 2024-11-01         21.0        2.8          Sunny
11 2024-12-01         23.0        5.5           Rain

In [33]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [ ]:
df_weather.ffill()

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01         33.0        6.0      Rain
2  2024-03-01         28.0        6.0      Rain
3  2024-04-01         38.0        6.0     Sunny
4  2024-05-01         38.0        6.0     Sunny
5  2024-06-01         38.0        3.5     Sunny
6  2024-07-01         25.0        9.1     Sunny
7  2024-08-01         25.0        9.1     Sunny
8  2024-09-01         25.0        9.1    Cloudy
9  2024-10-01         25.0        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [35]:
df_weather.bfill()

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01         28.0        6.0     Sunny
2  2024-03-01         28.0        3.5     Sunny
3  2024-04-01         38.0        3.5     Sunny
4  2024-05-01         25.0        3.5     Sunny
5  2024-06-01         25.0        3.5    Cloudy
6  2024-07-01         25.0        9.1    Cloudy
7  2024-08-01         21.0        3.6    Cloudy
8  2024-09-01         21.0        3.6    Cloudy
9  2024-10-01         21.0        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [36]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [37]:
df_weather.ffill(limit=2)

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01         33.0        6.0      Rain
2  2024-03-01         28.0        6.0      Rain
3  2024-04-01         38.0        6.0     Sunny
4  2024-05-01         38.0        NaN     Sunny
5  2024-06-01         38.0        3.5     Sunny
6  2024-07-01         25.0        9.1     Sunny
7  2024-08-01         25.0        9.1       NaN
8  2024-09-01         25.0        9.1    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [39]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [41]:
df_weather.interpolate()

C:\Users\memon\AppData\Local\Temp\ipykernel_19232\136297588.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df_weather.interpolate()

          Day  Temperature  Windspeed Condition
0  2024-01-01    33.000000   8.200000      Rain
1  2024-02-01    30.500000   6.000000       NaN
2  2024-03-01    28.000000   5.375000       NaN
3  2024-04-01    38.000000   4.750000     Sunny
4  2024-05-01    33.666667   4.125000     Sunny
5  2024-06-01    29.333333   3.500000       NaN
6  2024-07-01    25.000000   9.100000       NaN
7  2024-08-01    24.000000   7.266667       NaN
8  2024-09-01    23.000000   5.433333    Cloudy
9  2024-10-01    22.000000   3.600000    Cloudy
10 2024-11-01    21.000000   2.800000     Sunny
11 2024-12-01    23.000000   5.500000      Rain

In [42]:
df_weather

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [43]:
df_weather.dropna()

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [44]:
df_weather.dropna(how='all')

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
7  2024-08-01          NaN        NaN       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [47]:
df_weather.dropna(thresh=3)

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
3  2024-04-01         38.0        NaN     Sunny
6  2024-07-01         25.0        9.1       NaN
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [48]:
df_weather.dropna(thresh=4)

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain

In [49]:
df_weather.dropna(thresh=2)

          Day  Temperature  Windspeed Condition
0  2024-01-01         33.0        8.2      Rain
1  2024-02-01          NaN        6.0       NaN
2  2024-03-01         28.0        NaN       NaN
3  2024-04-01         38.0        NaN     Sunny
4  2024-05-01          NaN        NaN     Sunny
5  2024-06-01          NaN        3.5       NaN
6  2024-07-01         25.0        9.1       NaN
8  2024-09-01          NaN        NaN    Cloudy
9  2024-10-01          NaN        3.6    Cloudy
10 2024-11-01         21.0        2.8     Sunny
11 2024-12-01         23.0        5.5      Rain